@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

pre code {
    font-family: 'Fira Code', monospace !important;
}

.article-content a:hover {
    color: #60A5FA!important;
    text-decoration: underline!important;
}

footer a:hover {
    color: #60A5FA!important;
    text-decoration: underline!important;
}